@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&&family=Open+Sans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --font-base: "Cormorant Upright", serif;
  --font-alt: 'Open Sans', sans-serif;
  --font-heading: "Playfair Display", serif;

  --color-golden: #DCCA87;
  --color-golden-hover:  #dacea3;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #ffffff;
}
a {
  color: unset;
  text-decoration: none;
}
p{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1200px;
}
.section{
  padding-block: 5rem;
  width: 100%;
  background: var(--color-black);
}
.btn-golden{
  width: 120px;
  border: 0;
  background-color: var(--color-golden-hover);
  font-family: var(--font-base);
  padding-block: 6px;
  transition: background .3s;
}

.btn-golden:hover{
  background: var(--color-golden);
}
.section-heading{
  color: var(--color-golden);
  font-family: var(--font-base);
  font-size: 3.5rem;
}
/* title with spoon */
.title-w-spoon > img{
  width: 30px;
}
.title-w-spoon{
  font-family: var(--font-base);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}